<div>
  <h1>Home</h1>
  
  <div>
    Message: {{ message }}
  </div>

  <form action="/" method="post"> 
    <div>
      <input type="text" name="message" placeholder="Enter your message" required>
      <input type="submit" value="Submit">
    </div>
  </form>
</div>